<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp6.Properties.Settings.usersConnectionString"
            connectionString="Data Source=LAPTOP-FQBEUBB7\VIKA;Initial Catalog=users;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>